.container {
  position: absolute;
  margin-top: 225px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 198px;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.today {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.percents {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
  align-items: center;
}

.percent {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 332px;
    min-width: 295px;
    padding: 20px;
  }

  .today {
    font-size: 15px;
    line-height: 149%;
  }

  .percents {
    font-size: 12px;
    line-height: 187%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin-top: 450px;
  }
}
