.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 198px;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.today {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 8px;
}

.percents {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
  align-items: center;
}

.volumeInfo {
  font-size: 10px;
  line-height: 180%;
  color: #9be1a0;
}
.progressBarContainer {
  position: relative;
  max-width: 255px;
  height: 0.5rem;
  background-color: #f0eff4;
  border-radius: 9999px;
  margin-bottom: 8px;
}

.progressBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #9be1a0;
  border-radius: 9px;
  transition: width 0.3s ease-out;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 295px;
    padding: 20px;
  }

  .today {
    font-size: 15px;
    line-height: 149%;
  }

  .percents {
    font-size: 12px;
    line-height: 187%;
  }
}
/* 
@media only screen and (min-width: 1440px) {
  .container {
  }
} */
