.settingFormAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.settingError {
  font-weight: 400;
  font-size: 14px;
  border-color: #ef5050;
  color: #ef5050;
  margin-top: 5px;
}

.settingAvatarImg {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.settingModalButton {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.settingAvatarIcon {
  stroke: #2f2f2f;
  fill: none;
}

.avatarButtonText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.settingAllForms {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.settingLabel {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.settingGenderForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.settingRadioButton {
  display: flex;
  gap: 20px;
}

.settingRadioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.settingRadioInput {
  display: none;
}

.settingRadioCustom {
  width: 20px;
  height: 20px;
  border: 2px solid #9be1a0;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.settingRadioInput:checked + .settingRadioCustom::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #9be1a0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settingRadioText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.settingNameForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.settingNameFormLabels {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: start;
}

.settingNameFormInput {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 0 14px 16px;
  width: 303px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.settingNameFormInput:focus {
  outline: none;
  border-color: rgba(47, 47, 47, 0.4);
}

.settingDailyForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: start;
  align-items: start;
}

.settingDailyCard {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.settingDailyContext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.settingDailyFormula {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #9be1a0;
}

.settingDailyDescription {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  width: 303px;
}

.settingDailyDescrText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.settingDailyDescriptionSpan {
  color: #9be1a0;
}

.settingDailyRemark {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.settingDailyRemarkSpan {
  margin-right: 4px;
  color: #9be1a0;
}
