.logo {
  color: var(--background-primary-dark);
  font-size: 18px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}

/* BREAKPOINTS (Mobile First) */
/* md */
@media (min-width: 768px) {
  .logo {
    font-size: 24px;
    margin-bottom: 50px;
  }
}

/* lg */
@media (min-width: 1440px) {
  .logo {
    font-size: 24px;
    margin-bottom: 132px;
  }
}
