.modal_content {
  background-color: var(--background-primary-light);
  border-radius: 15px;
  padding: 40px 14px;
  text-align: center;
  max-width: 375px;
  min-width: 320px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapperText {
  margin-bottom: 28px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.deleteBtn,
.cancelBtn {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  cursor: pointer;
}

.deleteBtn {
  background-color: var(--accent);
  color: var(--background-primary-dark);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deleteBtn:hover,
.deleteBtn:active {
  background-color: #87d28d;
}

.cancelBtn {
  background-color: var(--background-secondary-light);
  color: rgba(50, 63, 71, 0.4);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cancelBtn:hover {
  color: var(--background-primary-dark);
}

@media only screen and (min-width: 768px) {
  .modal_content {
    padding: 40px 78.5px;
    width: 516px;
    max-width: 516px;
  }

  .title {
    font-size: 28px;
    line-height: 1.14;
    margin-bottom: 24px;
  }

  .text {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 24px;
  }

  .buttonContainer {
    flex-direction: row;
    gap: 10px;
  }

  .deleteBtn,
  .cancelBtn {
    padding: 18px 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
