/* .calendar {} */

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px 18px;
  align-items: start;
  justify-items: center;
}

@media only screen and (max-width: 374px) {
  .grid {
    row-gap: 20px;
    column-gap: calc(0.33 * (100vw - 320px));
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    gap: 15px 62px;
  }
}

@media only screen and (min-width: 1440px) {
  .grid {
    gap: 15px 57px;
  }
}

@media only screen and (min-width: 1440px) {
  .grid8 {
    grid-template-columns: repeat(8, 1fr);
    gap: 15px 48px;
  }
}
@media only screen and (min-width: 1440px) {
  .grid8 {
    gap: 15px 43px;
  }
}
