p {
  margin: 0;
}

.wrapper {
  border-radius: 15px;
  padding: 40px 20px;
  width: 313px;
  background-color: lightblue;
}

.form {
  display: flex;
  flex-direction: column;
}

.addWater {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #323f47;
  margin-bottom: 24px;
}

.chooseAValue {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 20px;
}

.amountParagraph {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}

.valueDisplay {
  border-radius: 30px;
  width: 81px;
  height: 40px;
  background: #323f47;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
  text-align: center;
}

.valueDisplay > span {
  display: block;
  padding: 13px;
}

.ctrlBtn {
  border-radius: 30px;
  border: 1.5px solid #323f47;
  background-color: inherit;
  width: 40px;
  height: 40px;
}

.btnIcon {
  width: 25px;
  height: 25px;
}

.recordingTime {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.field {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  width: 272px;
  padding-left: 20px;
  height: 56px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.enterValue {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 8px;
}

.amountOfWaterField {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding-left: 20px;
  width: 272px;
  height: 56px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.submitBtn {
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border-radius: 30px;
  padding: 18px 50px;
  width: 141px;
  height: 60px;
  margin-top: 24px;
  background: #9be1a0;
  transition: all 700ms cubic-bezier(0.42, 0, 0.61, 0.97) 0s;
}

.submitBtn:hover {
  background: #87d28d;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 40px;
    width: 438px;
    height: 555px;
    background-color: lightblue;
  }

  .addWater {
    font-size: 28px;
    line-height: 114%;
  }

  .chooseAValue {
    font-size: 18px;
    line-height: 133%;
  }

  .amountParagraph {
    font-size: 16px;
    line-height: 150%;
  }

  .valueDisplay {
    width: 86px;
    height: 43px;
    font-size: 15px;
  }

  .ctrlBtn {
    width: 43px;
    height: 43px;
  }

  .btnIcon {
    width: 28px;
    height: 28px;
  }
  .amountOfWaterField,
  .field {
    width: 360px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #2f2f2f;
  }
}
