.container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: #9be1a0;
  background-image: url("/src/img/water-main-info/bottle-mob.png");
  background-repeat: no-repeat;
  background-position: center 50px;
  padding: 24px 16px 120px 16px;
  position: relative;
}

.logo {
  line-height: 111%;
  margin-bottom: 78px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 32px 32px 150px;
    background-image: url("/src/img/water-main-info/bottle-tablet.png");
    background-position: center 69px;
  }

  .logo {
    line-height: 100%;
    margin-bottom: 101px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 672px;
    margin-right: auto;
    margin-left: 0;
    background-image: url("/src/img/water-main-info/bottle-desktop.png");
  }
}

/* ============ retina =========== */

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .container {
    background-image: url("/src/img/water-main-info/bottle-mob@2x.png");
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .container {
    background-image: url("/src/img/water-main-info/bottle-tablet@2x.png");
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .container {
    background-image: url("/src/img/water-main-info/bottle-desktop@2x.png");
  }
}
