.container {
  border-radius: 30px;
  background-color: #9be1a0;
  background-image: url("/src/img/water-main-info/bottle-mob.png");
  background-repeat: no-repeat;
  background-position: center 50px;
  padding: 24px 16px 120px 16px;
  position: relative;
}

.title {
  font-family: "Poppins", sans-serif;
  color: #323f47;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 111%;
  margin-bottom: 78px;
}

.lang {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 32px 32px 150px;
    background-image: url("/src/img/water-main-info/bottle-tablet.png");
    background-position: center 69px;
  }

  .title {
    line-height: 100%;
    margin-bottom: 101px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: calc((100% - 32px) / 2);
    box-sizing: border-box;
    background-image: url("/src/img/water-main-info/bottle-desktop.png");
  }
}

/* ============ retina =========== */

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .container {
    background-size: auto 80%;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .container {
    background-image: url("/src/img/water-main-info/bottle-tablet@2x.png");
    background-size: auto 84%;
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .container {
    background-image: url("/src/img/water-main-info/bottle-desktop@2x.png");
    background-size: auto 87%;
  }
}
