.sectionCalendar {
  margin: 0 auto;
  width: 100%;
}

.MonthInfo {
  width: 100%;
  margin-bottom: 24px;
}

.toRow {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #323f47;
  font-weight: 700;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  /* line-height: 1.2; */
  letter-spacing: -0.01em;
}

.toggleViewBtn {
  margin-left: 6px;
  border: transparent;
  background-color: transparent;
}
.toggleViewBtnImg {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 1.14;
  }

  .toggleViewBtn {
    margin-left: 10px;
  }

  .toggleViewBtnImg {
    width: 24px;
    height: 24px;
  }
}
