.signInTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.emailContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.errorMail {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.inputForm {
  padding: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  max-width: 311px;
  outline: none;
  background-color: transparent;
}

.inputFormError {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  border-color: #ef5050;
  color: #ef5050;
}

.inputForm:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.inputForm::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.passwordContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.errorPass {
  position: absolute;
  bottom: -30px;
  left: 0;
}

.submitBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--background-primary-dark);
  background-color: var(--accent);
  border: none;
  border-radius: 30px;
  max-width: 311px;
  transition: color 250ms linear, background-color 250ms linear;
}

.submitBtn:hover,
.submitBtn:focus {
  outline: none;
  cursor: pointer;
  background-color: #87d28d;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #ef5050;
}

@media only screen and (min-width: 768px) {
  .signInTitle {
    font-size: 36px;
    line-height: 106%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
  }

  .inputForm {
    font-size: 16px;
    line-height: 150%;
    min-width: 436px;
  }

  .inputForm::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .emailContainer {
    max-width: 436px;
    margin-bottom: 20px;
  }

  .errorMail {
    position: absolute;
    bottom: -25px;
    left: 0;
  }

  .passwordContainer {
    position: relative;
    max-width: 436px;
  }

  .error {
    font-size: 16px;
    line-height: 150%;
    color: #ef5050;
  }

  .submitBtn {
    font-size: 16px;
    line-height: 150%;
    padding-top: 18px;
    padding-bottom: 18px;
    min-width: 436px;
  }

  .closeEyeBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    top: 50%;
    right: 18px;
    transform: translateY(25%);
    fill: none;
    stroke: #2f2f2f;
    cursor: pointer;
  }

  .inputFormError {
    font-size: 16px;
    line-height: 150%;
  }
}
