.signInSection {
  padding: 16px;
  margin: 0 auto;
  max-width: 320px;
  background-color: #ffffff;
}

.container {
  padding-top: 24px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 216px;
  border-radius: 30px;
  background-color: #f0eff4;
}

.title {
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 172px;
}

.signInTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.inputForm {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  max-width: 311px;
}

.inputFormError {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  border-color: #ef5050;
  color: #ef5050;
}

.inputForm:focus {
  outline: none;
  border-color: rgba(47, 47, 47, 0.4);
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.submitBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #9be1a0;
  border: none;
  border-radius: 30px;
  margin-bottom: 16px;
  min-width: 288px;
  transition: color 250ms linear, background-color 250ms linear;
}

.btnDescContainer {
  max-width: 311px;
}

.submitBtn:hover,
.submitBtn:focus {
  cursor: pointer;
  color: #323f47;
  background-color: #87d28d;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #ef5050;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(47, 47, 47, 0.5);
}

.signup {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}

@media only screen and (min-width: 768px) {
  .signInSection {
    padding: 32px;
    margin: 0 auto;
    max-width: 768px;
    background-color: #ffffff;
  }

  .container {
    padding-top: 32px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 281px;
    background-color: #f0eff4;
  }

  .title {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 225px;
  }

  .signInTitle {
    font-size: 36px;
    line-height: 106%;
    margin-left: 102px;
  }

  .form {
    margin-left: 102px;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
  }

  .inputForm {
    font-size: 16px;
    line-height: 150%;
    min-width: 416px;
  }

  .emailContainer {
    max-width: 436px;
    margin-bottom: 20px;
  }

  .passwordContainer {
    position: relative;
    max-width: 436px;
  }

  .error {
    font-size: 16px;
    line-height: 150%;
    color: #ef5050;
  }

  .errorPass {
    position: absolute;
    bottom: -20px;
    left: 0;
  }

  .submitBtn {
    font-size: 16px;
    line-height: 150%;
    padding-top: 18px;
    padding-bottom: 18px;
    min-width: 436px;
  }

  .desc {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }

  .btnDescContainer {
    max-width: 436px;
  }

  .closeEyeBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    top: 50%;
    right: 18px;
    transform: translateY(25%);
    fill: none;
    stroke: #2f2f2f;
  }

  .inputFormError {
    font-size: 16px;
    line-height: 150%;
  }
}
