.container {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
  max-width: 375px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
    max-width: 1440px;
  }
}