.container {
  display: inline-block;
  margin-bottom: 89px;
  margin-left: 16px;
  border-radius: 15px;
  padding: 12px;
  max-width: 78px;
  min-height: 30px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.litres {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

@media only screen and (min-width: 768px) {
  .container {
    margin-left: 32px;
    margin-top: 157px;
    padding: 14px 18px;
    max-width: 129px;
  }

  .litres {
    font-size: 15px;
    line-height: 149%;
    margin-bottom: 6px;
  }

  .text {
    font-size: 12px;
    line-height: 187%;
  }
}

@media only screen and (min-width: 1440px) {
}
